In [259]:
import random
import names
import datetime
from random import randrange
from datetime import timezone
import random
import string

In [260]:
department=['CSE', 'EE', 'ME'  ]
rev_dict = {'CSE': 0,'EE':1, 'ME': 2}
num_basic = 20
Max_Leaves = 20
appName = "main"
out_str = ""

In [261]:
def get_random_string(length = 10, val = False):
    if val:
        letters = string.ascii_letters
    else:
        letters = string.ascii_letters +string.digits
    result_str = ''.join(random.choice(letters) for i in range(length))
    return result_str

def gen_date():
    start_date = datetime.datetime(2020, 1, 1, 0, 0, 0)
    end_date = datetime.datetime(2020, 3, 1, 23, 59, 59)
    time_st = start_date.replace(tzinfo=timezone.utc).timestamp()
    time_en = end_date.replace(tzinfo=timezone.utc).timestamp()
    delta = randrange(time_en - time_st)
    rand_date = datetime.datetime.fromtimestamp(time_st+delta)
    return rand_date

In [262]:
uniq_id = []
user_id = []
first_names = []
last_names = []
depts = []
leave_rem = []
password = []
emails = []
permissions = []

for i in range(num_basic):
    uniq_id.append(i+1)
    user_id.append(get_random_string())
    first_names.append(names.get_first_name())
    last_names.append(names.get_last_name())
    depts.append(random.choice(department))
    leave_rem.append(Max_Leaves)
    password.append(get_random_string())
    emails.append(get_random_string(8, val = True)+'@iitrpr.ac.in')
    permissions.append(0)

# uniq_id, user_id, first_names, last_names, depts, leave_rem, password, emails

In [263]:
# special ids
level=['0', '1', '2', '3']
position = ['basic', 'hod_cse', 'hod_ee', 'hod_me', 'dean_aa', 'director']
level = [0, 1, 1, 1, 2, 3]
special_ids = random.sample(uniq_id, len(position)-1)
special_pass = []
for i in range(len(positition)-1):
    special_pass.append(get_random_string())
    permissions[special_ids[i]-1] = level[i+1]

In [264]:
for i in range(20):
    timestamp=random.uniform(0,10)
    was_approved = random.choice([True, False])
    applicant = random.choice(uniq_id)
    num_leaves = random.randint(1, leave_rem[applicant-1])
    signedby = -1
    if applicant in special_ids:
        signedby = special_ids[-1]
        if was_approved == True:
            leave_rem[applicant-1] -= num_leaves
            
    elif was_approved == True:
        leave_rem[applicant-1] -= num_leaves
        signedby = special_ids[-2]
            
    else:
        signedby = random.choice([special_ids[-1], special_ids[rev_dict[depts[applicant-1]]+1]])
    if leave_rem[applicant-1] <0:
        num_leaves += leave_rem[applicant-1]
        leave_rem[applicant-1]=0
    
    curr = f"INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES ({applicant}, {signedby}, '{gen_date().date()}', {num_leaves}, '{gen_date().date()}', {was_approved});"
    out_str += curr
    print(curr)

INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (14, 20, '2020-01-27', 16, '2020-01-10', True);
INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (17, 20, '2020-01-21', 7, '2020-01-14', True);
INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (16, 9, '2020-02-20', 5, '2020-01-27', True);
INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (10, 20, '2020-02-27', 1, '2020-03-01', False);
INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (13, 20, '2020-01-02', 5, '2020-02-08', False);
INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (11, 9, '2020-01-29', 4, '2020-02-19', True);
INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (9, 9, '2020-02-09', 18, '2020-01-16', True);
INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (19, 9, '2020-02-02', 4, '2020-01-15', False);
INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (18, 9, '2020-01-20', 8, '2020-02-18', False);
INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (5, 20, '2020-02-01', 9, '2020-01-16', True);
INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (19, 9, '2020-02-29', 8, '2020-02-05', False);
INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (3, 20, '2020-01-13', 18, '2020-01-30', True);
INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (12, 9, '2020-02-08', 4, '2020-02-08', False);
INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (13, 20, '2020-02-07', 17, '2020-02-05', True);
INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (2, 20, '2020-02-08', 3, '2020-02-20', True);
INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (7, 9, '2020-01-22', 5, '2020-02-24', False);
INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (17, 20, '2020-03-01', 6, '2020-01-28', True);
INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (15, 9, '2020-02-09', 20, '2020-02-03', False);
INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (13, 20, '2020-02-04', 1, '2020-02-10', False);
INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (11, 9, '2020-01-19', 4, '2020-02-07', True);

In [265]:
for i in range(num_basic):
    date_a = gen_date()
    date_b = gen_date()
    curr = f"INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('{uniq_id[i]}', '{password[i]}',  '{date_a}', 'false', '{user_id[i]}' , '{first_names[i]}', '{last_names[i]}', '{emails[i]}', 'false', 'true', '{date_b}');" 
    out_str+=curr
    print(curr)
    
print("\n\n")
    
for i in range(1, len(position)):
    curr = f"INSERT INTO auth_user(password, is_superuser, username, first_name, last_name, email, is_staff, is_active) VALUES ('{special_pass[i-1]}', 'false', '{position[i]}' , '{first_names[special_ids[i-1]-1]}', '{last_names[special_ids[i-1]-1]}', '{emails[special_ids[i-1]-1]}', 'False', 'True');" 
    out_str+=curr
    print(curr)

INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('1', '18NtMDxWNX',  '2020-01-14 10:56:27', 'false', 'MulCPdMqhv' , 'Jerrod', 'Bundage', 'RHEabrZi@iitrpr.ac.in', 'false', 'true', '2020-02-19 10:38:08');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('2', 'C9v3IdPx2z',  '2020-01-20 20:32:10', 'false', 'E3KiA0A4Rf' , 'Jo', 'Ames', 'VxNrrGGx@iitrpr.ac.in', 'false', 'true', '2020-02-06 22:41:28');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('3', 'htYDKoJnZb',  '2020-01-16 03:02:45', 'false', 'kkfgLdVgZp' , 'Clara', 'Wolff', 'QpfJOvJA@iitrpr.ac.in', 'false', 'true', '2020-01-03 13:09:06');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('4', 'cPRaZ6tTKv',  '2020-02-10 15:56:35', 'false', 'PJUIszkBkn' , 'Penny', 'Kirchausen', 'DiWWGegp@iitrpr.ac.in', 'false', 'true', '2020-02-03 12:29:50');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('5', 'Np9Ci0dFDF',  '2020-01-22 12:34:45', 'false', 'RTqdCYbZ7R' , 'Dennis', 'Pope', 'BHErdJHw@iitrpr.ac.in', 'false', 'true', '2020-02-05 10:12:28');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('6', 'UuJ3Q3VHcg',  '2020-01-02 15:52:13', 'false', 'meTDdHOFa8' , 'Judith', 'Gomez', 'nHRPhpUo@iitrpr.ac.in', 'false', 'true', '2020-02-06 11:47:13');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('7', 'STpdtSa3rA',  '2020-01-25 04:46:02', 'false', 'Xwl4KAUQaG' , 'Rebecca', 'Vargas', 'xHOSJFIm@iitrpr.ac.in', 'false', 'true', '2020-02-19 00:29:08');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('8', 'M7bI3U1qsB',  '2020-01-29 23:03:46', 'false', 'JDFiH3mbll' , 'Sharon', 'Sloan', 'BTrfkVFV@iitrpr.ac.in', 'false', 'true', '2020-02-26 09:26:09');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('9', 'mcRvnu8Syo',  '2020-02-18 16:00:06', 'false', 'pfm8APqW7n' , 'Jack', 'Ross', 'tffpfBKj@iitrpr.ac.in', 'false', 'true', '2020-02-23 05:11:54');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('10', 'dX0ZpDh47N',  '2020-01-31 11:47:00', 'false', 'DGfE1txjGU' , 'Leticia', 'Murdock', 'QgDYZBsF@iitrpr.ac.in', 'false', 'true', '2020-02-25 00:31:33');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('11', 'RqRN9U8dcy',  '2020-02-07 02:34:08', 'false', 'S03aOVtiGh' , 'Manuela', 'Beck', 'qxDaZjgu@iitrpr.ac.in', 'false', 'true', '2020-02-05 13:53:45');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('12', 'iF6zdMudpt',  '2020-01-05 15:42:22', 'false', 'WcjjelfNgs' , 'Angelica', 'Ross', 'MpQUxvvO@iitrpr.ac.in', 'false', 'true', '2020-03-01 09:45:41');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('13', 'fr9xv6yktZ',  '2020-01-09 03:39:00', 'false', 'ZBjQ8A2u1F' , 'Samuel', 'Bond', 'BOigkPqY@iitrpr.ac.in', 'false', 'true', '2020-01-17 20:59:02');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('14', 'Vtm6yeKntx',  '2020-02-08 09:35:06', 'false', 'rftCKgXtIN' , 'John', 'Bower', 'nRviyfFf@iitrpr.ac.in', 'false', 'true', '2020-02-24 23:53:18');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('15', '8p1jB7GiHO',  '2020-01-14 14:13:50', 'false', '8o7IzvnGpb' , 'Greg', 'Durham', 'DShLKVJS@iitrpr.ac.in', 'false', 'true', '2020-01-04 03:40:00');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('16', 'PwaWmyYxeK',  '2020-01-06 00:12:02', 'false', 'j1GnosHc5U' , 'Betty', 'Hale', 'UahKFJuA@iitrpr.ac.in', 'false', 'true', '2020-02-12 23:16:27');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('17', 'KgDcNYguOF',  '2020-01-15 12:22:32', 'false', 'dOsiPBTczU' , 'Nicky', 'Feazel', 'wVBUgfCH@iitrpr.ac.in', 'false', 'true', '2020-02-16 02:58:31');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('18', '4upcdzLzof',  '2020-01-11 22:08:49', 'false', '08zJTBxoH4' , 'Ben', 'Block', 'luuSfISe@iitrpr.ac.in', 'false', 'true', '2020-01-31 15:52:01');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('19', '7XqmwFsqbo',  '2020-01-18 07:59:46', 'false', 'LsH5XFY85J' , 'Chester', 'Werts', 'mvmnJGlg@iitrpr.ac.in', 'false', 'true', '2020-01-13 09:08:26');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('20', 'YI214wM5ae',  '2020-01-14 14:05:24', 'false', 'bp0YH2tLqd' , 'Noel', 'Borman', 'rMoyNWbn@iitrpr.ac.in', 'false', 'true', '2020-03-01 09:43:50');



INSERT INTO auth_user(password, is_superuser, username, first_name, last_name, email, is_staff, is_active) VALUES ('Zy59swkPIv', 'false', 'hod_cse' , 'Manuela', 'Beck', 'qxDaZjgu@iitrpr.ac.in', 'False', 'True');
INSERT INTO auth_user(password, is_superuser, username, first_name, last_name, email, is_staff, is_active) VALUES ('apzOy2lA3h', 'false', 'hod_ee' , 'Betty', 'Hale', 'UahKFJuA@iitrpr.ac.in', 'False', 'True');
INSERT INTO auth_user(password, is_superuser, username, first_name, last_name, email, is_staff, is_active) VALUES ('ggNVkvMRVJ', 'false', 'hod_me' , 'Chester', 'Werts', 'mvmnJGlg@iitrpr.ac.in', 'False', 'True');
INSERT INTO auth_user(password, is_superuser, username, first_name, last_name, email, is_staff, is_active) VALUES ('gxf1KOLP0A', 'false', 'dean_aa' , 'Noel', 'Borman', 'rMoyNWbn@iitrpr.ac.in', 'False', 'True');
INSERT INTO auth_user(password, is_superuser, username, first_name, last_name, email, is_staff, is_active) VALUES ('dJM8o2wNbr', 'false', 'director' , 'Jack', 'Ross', 'tffpfBKj@iitrpr.ac.in', 'False', 'True');

In [266]:
special_ids

[11, 16, 19, 20, 9]

In [267]:
for i in range(20):
    curr = f"INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES ({uniq_id[i]},'{depts[i]}', {leave_rem[i]}, {permissions[i]});" 
    out_str+=curr
    print(curr)

INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (1,'CSE', 20, 0);
INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (2,'ME', 17, 0);
INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (3,'CSE', 2, 0);
INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (4,'CSE', 20, 0);
INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (5,'ME', 11, 0);
INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (6,'EE', 20, 0);
INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (7,'EE', 20, 0);
INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (8,'EE', 20, 0);
INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (9,'EE', 2, 3);
INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (10,'ME', 20, 0);
INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (11,'CSE', 12, 1);
INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (12,'ME', 20, 0);
INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (13,'ME', 3, 0);
INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (14,'EE', 4, 0);
INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (15,'EE', 20, 0);
INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (16,'ME', 15, 1);
INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (17,'CSE', 7, 0);
INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (18,'EE', 20, 0);
INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (19,'CSE', 20, 1);
INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (20,'CSE', 20, 2);

In [268]:
# level=['0', '1', '2', '3']
# fac_ids=list(range(1,21))
# random.shuffle(fac_ids)
# for i in range(10):
#     id1=i+20
#     le=random.choice(level)
#     print(f'INSERT INTO CrossCutting(CCID, FacultyID, Permission level) VALUES ({id1},{fac_ids[i]},{le});')

In [269]:
# random.shuffle(fac_ids)

entry_ids = list(range(1, num_entries+1))
status=[0, 1, 2, 3, 4]
num_entries = 10
nouns = ("puppy", "car", "rabbit", "girl", "monkey")
verbs = ("runs", "hits", "jumps", "drives", "barfs") 
adv = ("crazily.", "dutifully.", "foolishly.", "merrily.", "occasionally.")
adj = ("adorable", "clueless", "dirty", "odd", "stupid")
for i in range(num_entries):
    fac_id = random.choice(uniq_id)
    entryid=i+1
    app_date=gen_date().date()
    start_date=gen_date().date()
    if leave_rem[fac_id-1]>0:
        no_of_leaves=random.randint(1, leave_rem[fac_id-1])     
    else:
        continue
    curr_status=random.choice(status)
    num = random.randrange(0,5)
    description=nouns[num] + ' ' + verbs[num] + ' ' + adj[num] + ' ' + adv[num]
    curr = f"INSERT INTO Active Leave Entries(EntryID, FacultyID, ApplicationDate, Starting Date, No.Of Leaves, Curr_Status, Desciption) VALUES ({entryid},{fac_id},'{app_date}','{start_date}',{no_of_leaves},{curr_status},'{description}');" 
    out_str+=curr
    print(curr)

INSERT INTO Active Leave Entries(EntryID, FacultyID, ApplicationDate, Starting Date, No.Of Leaves, Curr_Status, Desciption) VALUES (1,10,'2020-02-18','2020-01-24',20,4,'girl drives odd merrily.');
INSERT INTO Active Leave Entries(EntryID, FacultyID, ApplicationDate, Starting Date, No.Of Leaves, Curr_Status, Desciption) VALUES (2,14,'2020-01-05','2020-01-22',3,2,'monkey barfs stupid occasionally.');
INSERT INTO Active Leave Entries(EntryID, FacultyID, ApplicationDate, Starting Date, No.Of Leaves, Curr_Status, Desciption) VALUES (3,9,'2020-01-25','2020-02-07',1,4,'car hits clueless dutifully.');
INSERT INTO Active Leave Entries(EntryID, FacultyID, ApplicationDate, Starting Date, No.Of Leaves, Curr_Status, Desciption) VALUES (4,1,'2020-01-12','2020-01-25',6,2,'puppy runs adorable crazily.');
INSERT INTO Active Leave Entries(EntryID, FacultyID, ApplicationDate, Starting Date, No.Of Leaves, Curr_Status, Desciption) VALUES (5,16,'2020-01-11','2020-02-02',2,4,'puppy runs adorable crazily.');
INSERT INTO Active Leave Entries(EntryID, FacultyID, ApplicationDate, Starting Date, No.Of Leaves, Curr_Status, Desciption) VALUES (6,14,'2020-02-01','2020-02-17',2,1,'girl drives odd merrily.');
INSERT INTO Active Leave Entries(EntryID, FacultyID, ApplicationDate, Starting Date, No.Of Leaves, Curr_Status, Desciption) VALUES (7,4,'2020-02-07','2020-01-01',7,4,'rabbit jumps dirty foolishly.');
INSERT INTO Active Leave Entries(EntryID, FacultyID, ApplicationDate, Starting Date, No.Of Leaves, Curr_Status, Desciption) VALUES (8,3,'2020-02-26','2020-01-25',2,1,'girl drives odd merrily.');
INSERT INTO Active Leave Entries(EntryID, FacultyID, ApplicationDate, Starting Date, No.Of Leaves, Curr_Status, Desciption) VALUES (9,4,'2020-01-21','2020-01-30',16,3,'monkey barfs stupid occasionally.');
INSERT INTO Active Leave Entries(EntryID, FacultyID, ApplicationDate, Starting Date, No.Of Leaves, Curr_Status, Desciption) VALUES (10,11,'2020-01-22','2020-02-05',12,1,'puppy runs adorable crazily.');

In [270]:
random.shuffle(entry_ids)
for i in range(10):
    id1=random.randint(1,21)
    timestamp=random.uniform(10,60)
    num = random.randrange(0,5)
    description=nouns[num] + ' ' + verbs[num] + ' ' + adj[num] + ' ' + adv[num]
    curr = f"INSERT INTO Comments(EntryID, timecreated, body, FromFacultyID) VALUES ({id1},'{gen_date().date()}','{description}', {random.choice(uniq_id)});" 
    out_str+=curr
    print(curr)

INSERT INTO Comments(EntryID, timecreated, body, FromFacultyID) VALUES (19,'2020-01-18','puppy runs adorable crazily.', 19);
INSERT INTO Comments(EntryID, timecreated, body, FromFacultyID) VALUES (1,'2020-02-08','rabbit jumps dirty foolishly.', 13);
INSERT INTO Comments(EntryID, timecreated, body, FromFacultyID) VALUES (13,'2020-01-07','girl drives odd merrily.', 5);
INSERT INTO Comments(EntryID, timecreated, body, FromFacultyID) VALUES (7,'2020-02-01','rabbit jumps dirty foolishly.', 2);
INSERT INTO Comments(EntryID, timecreated, body, FromFacultyID) VALUES (9,'2020-02-29','monkey barfs stupid occasionally.', 17);
INSERT INTO Comments(EntryID, timecreated, body, FromFacultyID) VALUES (20,'2020-01-15','puppy runs adorable crazily.', 10);
INSERT INTO Comments(EntryID, timecreated, body, FromFacultyID) VALUES (5,'2020-01-23','monkey barfs stupid occasionally.', 16);
INSERT INTO Comments(EntryID, timecreated, body, FromFacultyID) VALUES (12,'2020-01-26','puppy runs adorable crazily.', 9);
INSERT INTO Comments(EntryID, timecreated, body, FromFacultyID) VALUES (20,'2020-02-12','rabbit jumps dirty foolishly.', 8);
INSERT INTO Comments(EntryID, timecreated, body, FromFacultyID) VALUES (21,'2020-01-18','car hits clueless dutifully.', 16);

In [271]:
print(out_str)

INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (14, 20, '2020-01-27', 16, '2020-01-10', True);INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (17, 20, '2020-01-21', 7, '2020-01-14', True);INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (16, 9, '2020-02-20', 5, '2020-01-27', True);INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (10, 20, '2020-02-27', 1, '2020-03-01', False);INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (13, 20, '2020-01-02', 5, '2020-02-08', False);INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (11, 9, '2020-01-29', 4, '2020-02-19', True);INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (9, 9, '2020-02-09', 18, '2020-01-16', True);INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (19, 9, '2020-02-02', 4, '2020-01-15', False);INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (18, 9, '2020-01-20', 8, '2020-02-18', False);INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (5, 20, '2020-02-01', 9, '2020-01-16', True);INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (19, 9, '2020-02-29', 8, '2020-02-05', False);INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (3, 20, '2020-01-13', 18, '2020-01-30', True);INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (12, 9, '2020-02-08', 4, '2020-02-08', False);INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (13, 20, '2020-02-07', 17, '2020-02-05', True);INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (2, 20, '2020-02-08', 3, '2020-02-20', True);INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (7, 9, '2020-01-22', 5, '2020-02-24', False);INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (17, 20, '2020-03-01', 6, '2020-01-28', True);INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (15, 9, '2020-02-09', 20, '2020-02-03', False);INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (13, 20, '2020-02-04', 1, '2020-02-10', False);INSERT INTO Previous_Record(ApplicantID, DecisionMakerID, starting_date, num_leaves, decisiondate, was_approved) VALUES (11, 9, '2020-01-19', 4, '2020-02-07', True);INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('1', '18NtMDxWNX',  '2020-01-14 10:56:27', 'false', 'MulCPdMqhv' , 'Jerrod', 'Bundage', 'RHEabrZi@iitrpr.ac.in', 'false', 'true', '2020-02-19 10:38:08');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('2', 'C9v3IdPx2z',  '2020-01-20 20:32:10', 'false', 'E3KiA0A4Rf' , 'Jo', 'Ames', 'VxNrrGGx@iitrpr.ac.in', 'false', 'true', '2020-02-06 22:41:28');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('3', 'htYDKoJnZb',  '2020-01-16 03:02:45', 'false', 'kkfgLdVgZp' , 'Clara', 'Wolff', 'QpfJOvJA@iitrpr.ac.in', 'false', 'true', '2020-01-03 13:09:06');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('4', 'cPRaZ6tTKv',  '2020-02-10 15:56:35', 'false', 'PJUIszkBkn' , 'Penny', 'Kirchausen', 'DiWWGegp@iitrpr.ac.in', 'false', 'true', '2020-02-03 12:29:50');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('5', 'Np9Ci0dFDF',  '2020-01-22 12:34:45', 'false', 'RTqdCYbZ7R' , 'Dennis', 'Pope', 'BHErdJHw@iitrpr.ac.in', 'false', 'true', '2020-02-05 10:12:28');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('6', 'UuJ3Q3VHcg',  '2020-01-02 15:52:13', 'false', 'meTDdHOFa8' , 'Judith', 'Gomez', 'nHRPhpUo@iitrpr.ac.in', 'false', 'true', '2020-02-06 11:47:13');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('7', 'STpdtSa3rA',  '2020-01-25 04:46:02', 'false', 'Xwl4KAUQaG' , 'Rebecca', 'Vargas', 'xHOSJFIm@iitrpr.ac.in', 'false', 'true', '2020-02-19 00:29:08');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('8', 'M7bI3U1qsB',  '2020-01-29 23:03:46', 'false', 'JDFiH3mbll' , 'Sharon', 'Sloan', 'BTrfkVFV@iitrpr.ac.in', 'false', 'true', '2020-02-26 09:26:09');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('9', 'mcRvnu8Syo',  '2020-02-18 16:00:06', 'false', 'pfm8APqW7n' , 'Jack', 'Ross', 'tffpfBKj@iitrpr.ac.in', 'false', 'true', '2020-02-23 05:11:54');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('10', 'dX0ZpDh47N',  '2020-01-31 11:47:00', 'false', 'DGfE1txjGU' , 'Leticia', 'Murdock', 'QgDYZBsF@iitrpr.ac.in', 'false', 'true', '2020-02-25 00:31:33');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('11', 'RqRN9U8dcy',  '2020-02-07 02:34:08', 'false', 'S03aOVtiGh' , 'Manuela', 'Beck', 'qxDaZjgu@iitrpr.ac.in', 'false', 'true', '2020-02-05 13:53:45');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('12', 'iF6zdMudpt',  '2020-01-05 15:42:22', 'false', 'WcjjelfNgs' , 'Angelica', 'Ross', 'MpQUxvvO@iitrpr.ac.in', 'false', 'true', '2020-03-01 09:45:41');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('13', 'fr9xv6yktZ',  '2020-01-09 03:39:00', 'false', 'ZBjQ8A2u1F' , 'Samuel', 'Bond', 'BOigkPqY@iitrpr.ac.in', 'false', 'true', '2020-01-17 20:59:02');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('14', 'Vtm6yeKntx',  '2020-02-08 09:35:06', 'false', 'rftCKgXtIN' , 'John', 'Bower', 'nRviyfFf@iitrpr.ac.in', 'false', 'true', '2020-02-24 23:53:18');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('15', '8p1jB7GiHO',  '2020-01-14 14:13:50', 'false', '8o7IzvnGpb' , 'Greg', 'Durham', 'DShLKVJS@iitrpr.ac.in', 'false', 'true', '2020-01-04 03:40:00');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('16', 'PwaWmyYxeK',  '2020-01-06 00:12:02', 'false', 'j1GnosHc5U' , 'Betty', 'Hale', 'UahKFJuA@iitrpr.ac.in', 'false', 'true', '2020-02-12 23:16:27');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('17', 'KgDcNYguOF',  '2020-01-15 12:22:32', 'false', 'dOsiPBTczU' , 'Nicky', 'Feazel', 'wVBUgfCH@iitrpr.ac.in', 'false', 'true', '2020-02-16 02:58:31');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('18', '4upcdzLzof',  '2020-01-11 22:08:49', 'false', '08zJTBxoH4' , 'Ben', 'Block', 'luuSfISe@iitrpr.ac.in', 'false', 'true', '2020-01-31 15:52:01');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('19', '7XqmwFsqbo',  '2020-01-18 07:59:46', 'false', 'LsH5XFY85J' , 'Chester', 'Werts', 'mvmnJGlg@iitrpr.ac.in', 'false', 'true', '2020-01-13 09:08:26');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('20', 'YI214wM5ae',  '2020-01-14 14:05:24', 'false', 'bp0YH2tLqd' , 'Noel', 'Borman', 'rMoyNWbn@iitrpr.ac.in', 'false', 'true', '2020-03-01 09:43:50');INSERT INTO auth_user(password, is_superuser, username, first_name, last_name, email, is_staff, is_active) VALUES ('Zy59swkPIv', 'false', 'hod_cse' , 'Manuela', 'Beck', 'qxDaZjgu@iitrpr.ac.in', 'False', 'True');INSERT INTO auth_user(password, is_superuser, username, first_name, last_name, email, is_staff, is_active) VALUES ('apzOy2lA3h', 'false', 'hod_ee' , 'Betty', 'Hale', 'UahKFJuA@iitrpr.ac.in', 'False', 'True');INSERT INTO auth_user(password, is_superuser, username, first_name, last_name, email, is_staff, is_active) VALUES ('ggNVkvMRVJ', 'false', 'hod_me' , 'Chester', 'Werts', 'mvmnJGlg@iitrpr.ac.in', 'False', 'True');INSERT INTO auth_user(password, is_superuser, username, first_name, last_name, email, is_staff, is_active) VALUES ('gxf1KOLP0A', 'false', 'dean_aa' , 'Noel', 'Borman', 'rMoyNWbn@iitrpr.ac.in', 'False', 'True');INSERT INTO auth_user(password, is_superuser, username, first_name, last_name, email, is_staff, is_active) VALUES ('dJM8o2wNbr', 'false', 'director' , 'Jack', 'Ross', 'tffpfBKj@iitrpr.ac.in', 'False', 'True');INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (1,'CSE', 20, 0);INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (2,'ME', 17, 0);INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (3,'CSE', 2, 0);INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (4,'CSE', 20, 0);INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (5,'ME', 11, 0);INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (6,'EE', 20, 0);INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (7,'EE', 20, 0);INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (8,'EE', 20, 0);INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (9,'EE', 2, 3);INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (10,'ME', 20, 0);INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (11,'CSE', 12, 1);INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (12,'ME', 20, 0);INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (13,'ME', 3, 0);INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (14,'EE', 4, 0);INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (15,'EE', 20, 0);INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (16,'ME', 15, 1);INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (17,'CSE', 7, 0);INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (18,'EE', 20, 0);INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (19,'CSE', 20, 1);INSERT INTO Faculty(FacultyID, dept, leaves_remaining, permission_level) VALUES (20,'CSE', 20, 2);INSERT INTO Active Leave Entries(EntryID, FacultyID, ApplicationDate, Starting Date, No.Of Leaves, Curr_Status, Desciption) VALUES (1,10,'2020-02-18','2020-01-24',20,4,'girl drives odd merrily.');INSERT INTO Active Leave Entries(EntryID, FacultyID, ApplicationDate, Starting Date, No.Of Leaves, Curr_Status, Desciption) VALUES (2,14,'2020-01-05','2020-01-22',3,2,'monkey barfs stupid occasionally.');INSERT INTO Active Leave Entries(EntryID, FacultyID, ApplicationDate, Starting Date, No.Of Leaves, Curr_Status, Desciption) VALUES (3,9,'2020-01-25','2020-02-07',1,4,'car hits clueless dutifully.');INSERT INTO Active Leave Entries(EntryID, FacultyID, ApplicationDate, Starting Date, No.Of Leaves, Curr_Status, Desciption) VALUES (4,1,'2020-01-12','2020-01-25',6,2,'puppy runs adorable crazily.');INSERT INTO Active Leave Entries(EntryID, FacultyID, ApplicationDate, Starting Date, No.Of Leaves, Curr_Status, Desciption) VALUES (5,16,'2020-01-11','2020-02-02',2,4,'puppy runs adorable crazily.');INSERT INTO Active Leave Entries(EntryID, FacultyID, ApplicationDate, Starting Date, No.Of Leaves, Curr_Status, Desciption) VALUES (6,14,'2020-02-01','2020-02-17',2,1,'girl drives odd merrily.');INSERT INTO Active Leave Entries(EntryID, FacultyID, ApplicationDate, Starting Date, No.Of Leaves, Curr_Status, Desciption) VALUES (7,4,'2020-02-07','2020-01-01',7,4,'rabbit jumps dirty foolishly.');INSERT INTO Active Leave Entries(EntryID, FacultyID, ApplicationDate, Starting Date, No.Of Leaves, Curr_Status, Desciption) VALUES (8,3,'2020-02-26','2020-01-25',2,1,'girl drives odd merrily.');INSERT INTO Active Leave Entries(EntryID, FacultyID, ApplicationDate, Starting Date, No.Of Leaves, Curr_Status, Desciption) VALUES (9,4,'2020-01-21','2020-01-30',16,3,'monkey barfs stupid occasionally.');INSERT INTO Active Leave Entries(EntryID, FacultyID, ApplicationDate, Starting Date, No.Of Leaves, Curr_Status, Desciption) VALUES (10,11,'2020-01-22','2020-02-05',12,1,'puppy runs adorable crazily.');INSERT INTO Comments(EntryID, timecreated, body, FromFacultyID) VALUES (19,'2020-01-18','puppy runs adorable crazily.', 19);INSERT INTO Comments(EntryID, timecreated, body, FromFacultyID) VALUES (1,'2020-02-08','rabbit jumps dirty foolishly.', 13);INSERT INTO Comments(EntryID, timecreated, body, FromFacultyID) VALUES (13,'2020-01-07','girl drives odd merrily.', 5);INSERT INTO Comments(EntryID, timecreated, body, FromFacultyID) VALUES (7,'2020-02-01','rabbit jumps dirty foolishly.', 2);INSERT INTO Comments(EntryID, timecreated, body, FromFacultyID) VALUES (9,'2020-02-29','monkey barfs stupid occasionally.', 17);INSERT INTO Comments(EntryID, timecreated, body, FromFacultyID) VALUES (20,'2020-01-15','puppy runs adorable crazily.', 10);INSERT INTO Comments(EntryID, timecreated, body, FromFacultyID) VALUES (5,'2020-01-23','monkey barfs stupid occasionally.', 16);INSERT INTO Comments(EntryID, timecreated, body, FromFacultyID) VALUES (12,'2020-01-26','puppy runs adorable crazily.', 9);INSERT INTO Comments(EntryID, timecreated, body, FromFacultyID) VALUES (20,'2020-02-12','rabbit jumps dirty foolishly.', 8);INSERT INTO Comments(EntryID, timecreated, body, FromFacultyID) VALUES (21,'2020-01-18','car hits clueless dutifully.', 16);