In [308]:
import random
import names
import datetime
from random import randrange
from datetime import timezone
import random
import string

In [309]:
department=['CSE', 'EE', 'ME'  ]
rev_dict = {'CSE': 0,'EE':1, 'ME': 2}
num_basic = 20
Max_Leaves = 20
appName = "main"
out_str = ""

In [310]:
def get_random_string(length = 10, val = False):
    if val:
        letters = string.ascii_letters
    else:
        letters = string.ascii_letters +string.digits
    result_str = ''.join(random.choice(letters) for i in range(length))
    return result_str

def gen_date():
    start_date = datetime.datetime(2020, 1, 1, 0, 0, 0)
    end_date = datetime.datetime(2020, 3, 1, 23, 59, 59)
    time_st = start_date.replace(tzinfo=timezone.utc).timestamp()
    time_en = end_date.replace(tzinfo=timezone.utc).timestamp()
    delta = randrange(time_en - time_st)
    rand_date = datetime.datetime.fromtimestamp(time_st+delta)
    return rand_date

In [311]:
uniq_id = []
user_id = []
first_names = []
last_names = []
depts = []
leave_rem = []
password = []
emails = []
permissions = []

for i in range(num_basic):
    uniq_id.append(i+1)
    user_id.append(get_random_string())
    first_names.append(names.get_first_name())
    last_names.append(names.get_last_name())
    depts.append(random.choice(department))
    leave_rem.append(Max_Leaves)
    password.append(get_random_string())
    emails.append(get_random_string(8, val = True)+'@iitrpr.ac.in')
    permissions.append(0)

# uniq_id, user_id, first_names, last_names, depts, leave_rem, password, emails

In [312]:
# special ids
level=['0', '1', '2', '3']
position = ['basic', 'hod_cse', 'hod_ee', 'hod_me', 'dean_aa', 'director']
level = [0, 1, 1, 1, 2, 3]
special_ids = random.sample(uniq_id, len(position)-1)
special_pass = []
for i in range(len(positition)-1):
    special_pass.append(get_random_string())
    permissions[special_ids[i]-1] = level[i+1]

In [313]:
for i in range(20):
    timestamp=random.uniform(0,10)
    was_approved = random.choice([True, False])
    applicant = random.choice(uniq_id)
    num_leaves = random.randint(1, leave_rem[applicant-1])
    signedby = -1
    if applicant in special_ids:
        signedby = special_ids[-1]
        if was_approved == True:
            leave_rem[applicant-1] -= num_leaves
            
    elif was_approved == True:
        leave_rem[applicant-1] -= num_leaves
        signedby = special_ids[-2]
            
    else:
        signedby = random.choice([special_ids[-1], special_ids[rev_dict[depts[applicant-1]]+1]])
    if leave_rem[applicant-1] <0:
        num_leaves += leave_rem[applicant-1]
        leave_rem[applicant-1]=0
    
    curr = f"INSERT INTO {appName}_Previous_Record(\"ApplicantID\", \"DecisionMakerID\", starting_date, num_leaves, decisiondate, was_approved) VALUES ({applicant}, {signedby}, '{gen_date().date()}', {num_leaves}, '{gen_date().date()}', {was_approved});"
    out_str += curr
    print(curr)

INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (16, 14, '2020-02-17', 14, '2020-01-01', False);
INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (6, 3, '2020-02-15', 3, '2020-02-27', True);
INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (19, 3, '2020-02-03', 13, '2020-02-14', False);
INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (15, 3, '2020-02-20', 8, '2020-02-07', False);
INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (4, 14, '2020-02-08', 14, '2020-02-15', False);
INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (4, 10, '2020-01-10', 9, '2020-01-08', False);
INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (10, 14, '2020-01-10', 7, '2020-01-29', False);
INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (20, 14, '2020-03-01', 17, '2020-02-12', False);
INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (8, 3, '2020-01-31', 10, '2020-02-20', True);
INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (16, 14, '2020-01-20', 20, '2020-02-01', False);
INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (12, 3, '2020-01-31', 16, '2020-02-17', True);
INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (15, 3, '2020-02-11', 4, '2020-01-09', False);
INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (7, 14, '2020-02-15', 4, '2020-02-28', False);
INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (2, 10, '2020-02-04', 3, '2020-01-28', False);
INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (9, 3, '2020-02-01', 6, '2020-02-16', True);
INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (13, 3, '2020-01-06', 4, '2020-01-11', False);
INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (9, 3, '2020-01-12', 4, '2020-02-03', True);
INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (15, 3, '2020-02-19', 11, '2020-01-22', True);
INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (4, 14, '2020-02-11', 17, '2020-02-07', False);
INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (14, 14, '2020-01-21', 16, '2020-01-08', True);

In [314]:
for i in range(num_basic):
    date_a = gen_date()
    date_b = gen_date()
    curr = f"INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('{uniq_id[i]}', '{password[i]}',  '{date_a}', 'false', '{user_id[i]}' , '{first_names[i]}', '{last_names[i]}', '{emails[i]}', 'false', 'true', '{date_b}');" 
    out_str+=curr
    print(curr)
    
print("\n\n")
    
for i in range(1, len(position)):
    curr = f"INSERT INTO auth_user(password, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('{special_pass[i-1]}', 'false', '{position[i]}' , '{first_names[special_ids[i-1]-1]}', '{last_names[special_ids[i-1]-1]}', '{emails[special_ids[i-1]-1]}', 'False', 'True', '{gen_date()}');" 
    out_str+=curr
    print(curr)

INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('1', 'jDXaeS4PWc',  '2020-02-17 20:27:17', 'false', 'fqF5zTtE8l' , 'Gladys', 'Graham', 'XvTqILcX@iitrpr.ac.in', 'false', 'true', '2020-01-10 21:06:17');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('2', 'asIeHfAett',  '2020-03-01 16:12:47', 'false', 'RRHGiynHEH' , 'Judith', 'Ray', 'pTcTTvzj@iitrpr.ac.in', 'false', 'true', '2020-02-28 13:22:14');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('3', 'fdocE8ZisA',  '2020-01-21 22:40:08', 'false', '66E9cozk0i' , 'Russell', 'Dumais', 'IGEgsLap@iitrpr.ac.in', 'false', 'true', '2020-02-18 17:06:43');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('4', 'nB523OflRy',  '2020-01-02 01:59:15', 'false', 'haT5tOIlyS' , 'Hubert', 'Drawdy', 'uAayBmQN@iitrpr.ac.in', 'false', 'true', '2020-02-07 08:09:38');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('5', 'bFtrciH7BV',  '2020-01-24 03:43:49', 'false', 'T4hWpnBjAb' , 'Ira', 'Lovett', 'PMvzSNIs@iitrpr.ac.in', 'false', 'true', '2020-03-02 00:32:50');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('6', 'y5wovH6CXv',  '2020-02-20 13:28:44', 'false', 'zdAqmw5bXL' , 'Sandra', 'Wiliams', 'ZhorvrUv@iitrpr.ac.in', 'false', 'true', '2020-02-27 13:23:25');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('7', 'P4LO9bL1hl',  '2020-01-31 14:49:14', 'false', 'VvuNypIEem' , 'Irene', 'Yung', 'rcEouERA@iitrpr.ac.in', 'false', 'true', '2020-02-23 10:26:17');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('8', 'vHBSS4g5G6',  '2020-01-02 09:17:51', 'false', 'aB1umpsFsU' , 'Jennifer', 'Billups', 'veeQtHHP@iitrpr.ac.in', 'false', 'true', '2020-02-04 05:15:22');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('9', 'pLLydh8YDG',  '2020-01-06 22:59:43', 'false', 'MkGPsikwrn' , 'Katherine', 'Harrington', 'cAxRmvZo@iitrpr.ac.in', 'false', 'true', '2020-01-16 00:42:27');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('10', 'rZfpBvG7dR',  '2020-01-23 07:18:15', 'false', 'bkdDx2eqlt' , 'Lana', 'Lewis', 'BNrMsRVS@iitrpr.ac.in', 'false', 'true', '2020-01-07 03:24:47');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('11', 'TrfybSL4u9',  '2020-02-11 22:31:13', 'false', 'GYPGKz6Bk8' , 'Robbie', 'Duffy', 'AvhdENcv@iitrpr.ac.in', 'false', 'true', '2020-02-28 13:16:30');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('12', 'w3LkjI12Tn',  '2020-02-02 22:27:47', 'false', 'AYQnEkZZIn' , 'Elois', 'Patterson', 'TAsWRqwx@iitrpr.ac.in', 'false', 'true', '2020-01-11 21:45:03');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('13', 'TeCjQ8LAYe',  '2020-02-08 02:18:33', 'false', '8Kom3Hdzlf' , 'William', 'Hayden', 'bVSMhfFE@iitrpr.ac.in', 'false', 'true', '2020-01-13 06:18:18');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('14', 'EB7LoYn19z',  '2020-01-24 14:15:06', 'false', 'pS9hlqS2ot' , 'Janice', 'Thompson', 'kTbfWaEW@iitrpr.ac.in', 'false', 'true', '2020-02-10 09:54:14');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('15', 'cH7CfY2iVF',  '2020-01-27 00:58:50', 'false', 'Lc3RU6krLk' , 'Lucy', 'Hill', 'UUSuzfaZ@iitrpr.ac.in', 'false', 'true', '2020-01-17 19:28:25');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('16', '9gx3gdqYvV',  '2020-01-05 03:56:32', 'false', 'JpSxPfJkTg' , 'Donna', 'Webb', 'UmHSkTXr@iitrpr.ac.in', 'false', 'true', '2020-02-28 08:54:53');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('17', 'DEjpTRvwL6',  '2020-01-26 19:28:15', 'false', 'aAQuTHT1tw' , 'Bernice', 'Jackson', 'CveWKEIE@iitrpr.ac.in', 'false', 'true', '2020-02-13 05:54:21');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('18', 'FOie8Z2hed',  '2020-01-07 08:38:12', 'false', 'AklrHg11VL' , 'Allison', 'Zins', 'NyqzZyUQ@iitrpr.ac.in', 'false', 'true', '2020-02-25 09:18:06');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('19', '7Gk2fopUvQ',  '2020-01-05 07:04:31', 'false', 'URM1rZxLee' , 'Andrea', 'Stark', 'fXMTWSWI@iitrpr.ac.in', 'false', 'true', '2020-01-16 23:35:42');
INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('20', 'rudrjdrAIO',  '2020-02-02 03:59:42', 'false', 'c2T61xfwDk' , 'Richard', 'Sanders', 'VBkxzCTm@iitrpr.ac.in', 'false', 'true', '2020-02-14 15:16:42');



INSERT INTO auth_user(password, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('wrIh3o5x1p', 'false', 'hod_cse' , 'Allison', 'Zins', 'NyqzZyUQ@iitrpr.ac.in', 'False', 'True', '2020-01-15 17:06:32');
INSERT INTO auth_user(password, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('7T6xKZG8TG', 'false', 'hod_ee' , 'Lana', 'Lewis', 'BNrMsRVS@iitrpr.ac.in', 'False', 'True', '2020-02-06 07:51:19');
INSERT INTO auth_user(password, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('zbOTbn9sMB', 'false', 'hod_me' , 'Donna', 'Webb', 'UmHSkTXr@iitrpr.ac.in', 'False', 'True', '2020-02-20 13:20:22');
INSERT INTO auth_user(password, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('QOS7B0SZCU', 'false', 'dean_aa' , 'Russell', 'Dumais', 'IGEgsLap@iitrpr.ac.in', 'False', 'True', '2020-02-20 21:13:51');
INSERT INTO auth_user(password, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('5MJpApUJOo', 'false', 'director' , 'Janice', 'Thompson', 'kTbfWaEW@iitrpr.ac.in', 'False', 'True', '2020-01-13 11:04:53');

In [315]:
special_ids

[18, 10, 16, 3, 14]

In [316]:
for i in range(20):
    curr = f"INSERT INTO {appName}_Faculty(\"FacultyID\", dept, leaves_remaining, permission_level) VALUES ({uniq_id[i]},'{depts[i]}', {leave_rem[i]}, {permissions[i]});" 
    out_str+=curr
    print(curr)

INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (1,'ME', 20, 0);
INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (2,'CSE', 20, 0);
INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (3,'CSE', 20, 2);
INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (4,'CSE', 20, 0);
INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (5,'EE', 20, 0);
INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (6,'ME', 17, 0);
INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (7,'CSE', 20, 0);
INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (8,'EE', 10, 0);
INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (9,'CSE', 10, 0);
INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (10,'ME', 20, 1);
INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (11,'CSE', 20, 0);
INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (12,'CSE', 4, 0);
INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (13,'ME', 20, 0);
INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (14,'EE', 4, 3);
INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (15,'ME', 9, 0);
INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (16,'EE', 20, 1);
INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (17,'ME', 20, 0);
INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (18,'EE', 20, 1);
INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (19,'ME', 20, 0);
INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (20,'ME', 20, 0);

In [317]:
# level=['0', '1', '2', '3']
# fac_ids=list(range(1,21))
# random.shuffle(fac_ids)
# for i in range(10):
#     id1=i+20
#     le=random.choice(level)
#     print(f'INSERT INTO CrossCutting(CCID, FacultyID, Permission level) VALUES ({id1},{fac_ids[i]},{le});')

In [318]:
# random.shuffle(fac_ids)

entry_ids = list(range(1, num_entries+1))
status=[0, 1, 2, 3, 4]
num_entries = 10
nouns = ("puppy", "car", "rabbit", "girl", "monkey")
verbs = ("runs", "hits", "jumps", "drives", "barfs") 
adv = ("crazily.", "dutifully.", "foolishly.", "merrily.", "occasionally.")
adj = ("adorable", "clueless", "dirty", "odd", "stupid")
for i in range(num_entries):
    fac_id = random.choice(uniq_id)
    entryid=i+1
    app_date=gen_date().date()
    start_date=gen_date().date()
    if leave_rem[fac_id-1]>0:
        no_of_leaves=random.randint(1, leave_rem[fac_id-1])     
    else:
        continue
    curr_status=random.choice(status)
    num = random.randrange(0,5)
    description=nouns[num] + ' ' + verbs[num] + ' ' + adj[num] + ' ' + adv[num]
    curr = f"INSERT INTO {appName}_Active_Leave_Entries(\"FacultyID\", \"application_date\", starting_date, num_leaves, curr_status, description) VALUES ({fac_id},'{app_date}','{start_date}',{no_of_leaves},{curr_status},'{description}');" 
    out_str+=curr
    print(curr)

INSERT INTO main_Active_Leave_Entries("FacultyID", "application_date", starting_date, num_leaves, curr_status, description) VALUES (11,'2020-02-20','2020-01-04',15,0,'rabbit jumps dirty foolishly.');
INSERT INTO main_Active_Leave_Entries("FacultyID", "application_date", starting_date, num_leaves, curr_status, description) VALUES (2,'2020-02-23','2020-02-14',7,3,'puppy runs adorable crazily.');
INSERT INTO main_Active_Leave_Entries("FacultyID", "application_date", starting_date, num_leaves, curr_status, description) VALUES (16,'2020-01-21','2020-02-21',9,2,'car hits clueless dutifully.');
INSERT INTO main_Active_Leave_Entries("FacultyID", "application_date", starting_date, num_leaves, curr_status, description) VALUES (16,'2020-02-26','2020-01-03',10,1,'puppy runs adorable crazily.');
INSERT INTO main_Active_Leave_Entries("FacultyID", "application_date", starting_date, num_leaves, curr_status, description) VALUES (11,'2020-02-16','2020-01-15',2,1,'rabbit jumps dirty foolishly.');
INSERT INTO main_Active_Leave_Entries("FacultyID", "application_date", starting_date, num_leaves, curr_status, description) VALUES (7,'2020-01-25','2020-02-20',6,2,'girl drives odd merrily.');
INSERT INTO main_Active_Leave_Entries("FacultyID", "application_date", starting_date, num_leaves, curr_status, description) VALUES (7,'2020-02-10','2020-01-06',17,4,'girl drives odd merrily.');
INSERT INTO main_Active_Leave_Entries("FacultyID", "application_date", starting_date, num_leaves, curr_status, description) VALUES (17,'2020-01-09','2020-02-25',1,0,'car hits clueless dutifully.');
INSERT INTO main_Active_Leave_Entries("FacultyID", "application_date", starting_date, num_leaves, curr_status, description) VALUES (6,'2020-01-23','2020-01-12',14,3,'monkey barfs stupid occasionally.');
INSERT INTO main_Active_Leave_Entries("FacultyID", "application_date", starting_date, num_leaves, curr_status, description) VALUES (8,'2020-02-05','2020-02-26',9,4,'monkey barfs stupid occasionally.');

In [319]:
random.shuffle(entry_ids)
for i in range(10):
    id1=random.randint(1,21)
    timestamp=random.uniform(10,60)
    num = random.randrange(0,5)
    description=nouns[num] + ' ' + verbs[num] + ' ' + adj[num] + ' ' + adv[num]
    curr = f"INSERT INTO {appName}_comments(\"EntryID\", timecreated, body, \"FromFacultyID\") VALUES ({id1},'{gen_date().date()}','{description}', {random.choice(uniq_id)});" 
    out_str+=curr
    print(curr)

INSERT INTO main_comments("EntryID", timecreated, body, "FromFacultyID") VALUES (3,'2020-01-17','rabbit jumps dirty foolishly.', 13);
INSERT INTO main_comments("EntryID", timecreated, body, "FromFacultyID") VALUES (14,'2020-01-11','rabbit jumps dirty foolishly.', 13);
INSERT INTO main_comments("EntryID", timecreated, body, "FromFacultyID") VALUES (7,'2020-03-01','girl drives odd merrily.', 1);
INSERT INTO main_comments("EntryID", timecreated, body, "FromFacultyID") VALUES (4,'2020-01-01','car hits clueless dutifully.', 18);
INSERT INTO main_comments("EntryID", timecreated, body, "FromFacultyID") VALUES (16,'2020-02-22','girl drives odd merrily.', 3);
INSERT INTO main_comments("EntryID", timecreated, body, "FromFacultyID") VALUES (18,'2020-02-01','car hits clueless dutifully.', 19);
INSERT INTO main_comments("EntryID", timecreated, body, "FromFacultyID") VALUES (20,'2020-02-16','girl drives odd merrily.', 11);
INSERT INTO main_comments("EntryID", timecreated, body, "FromFacultyID") VALUES (4,'2020-01-06','car hits clueless dutifully.', 1);
INSERT INTO main_comments("EntryID", timecreated, body, "FromFacultyID") VALUES (15,'2020-02-11','car hits clueless dutifully.', 20);
INSERT INTO main_comments("EntryID", timecreated, body, "FromFacultyID") VALUES (17,'2020-01-12','puppy runs adorable crazily.', 17);

In [320]:
print(out_str)

INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (16, 14, '2020-02-17', 14, '2020-01-01', False);INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (6, 3, '2020-02-15', 3, '2020-02-27', True);INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (19, 3, '2020-02-03', 13, '2020-02-14', False);INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (15, 3, '2020-02-20', 8, '2020-02-07', False);INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (4, 14, '2020-02-08', 14, '2020-02-15', False);INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (4, 10, '2020-01-10', 9, '2020-01-08', False);INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (10, 14, '2020-01-10', 7, '2020-01-29', False);INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (20, 14, '2020-03-01', 17, '2020-02-12', False);INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (8, 3, '2020-01-31', 10, '2020-02-20', True);INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (16, 14, '2020-01-20', 20, '2020-02-01', False);INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (12, 3, '2020-01-31', 16, '2020-02-17', True);INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (15, 3, '2020-02-11', 4, '2020-01-09', False);INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (7, 14, '2020-02-15', 4, '2020-02-28', False);INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (2, 10, '2020-02-04', 3, '2020-01-28', False);INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (9, 3, '2020-02-01', 6, '2020-02-16', True);INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (13, 3, '2020-01-06', 4, '2020-01-11', False);INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (9, 3, '2020-01-12', 4, '2020-02-03', True);INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (15, 3, '2020-02-19', 11, '2020-01-22', True);INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (4, 14, '2020-02-11', 17, '2020-02-07', False);INSERT INTO main_Previous_Record("ApplicantID", "DecisionMakerID", starting_date, num_leaves, decisiondate, was_approved) VALUES (14, 14, '2020-01-21', 16, '2020-01-08', True);INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('1', 'jDXaeS4PWc',  '2020-02-17 20:27:17', 'false', 'fqF5zTtE8l' , 'Gladys', 'Graham', 'XvTqILcX@iitrpr.ac.in', 'false', 'true', '2020-01-10 21:06:17');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('2', 'asIeHfAett',  '2020-03-01 16:12:47', 'false', 'RRHGiynHEH' , 'Judith', 'Ray', 'pTcTTvzj@iitrpr.ac.in', 'false', 'true', '2020-02-28 13:22:14');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('3', 'fdocE8ZisA',  '2020-01-21 22:40:08', 'false', '66E9cozk0i' , 'Russell', 'Dumais', 'IGEgsLap@iitrpr.ac.in', 'false', 'true', '2020-02-18 17:06:43');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('4', 'nB523OflRy',  '2020-01-02 01:59:15', 'false', 'haT5tOIlyS' , 'Hubert', 'Drawdy', 'uAayBmQN@iitrpr.ac.in', 'false', 'true', '2020-02-07 08:09:38');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('5', 'bFtrciH7BV',  '2020-01-24 03:43:49', 'false', 'T4hWpnBjAb' , 'Ira', 'Lovett', 'PMvzSNIs@iitrpr.ac.in', 'false', 'true', '2020-03-02 00:32:50');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('6', 'y5wovH6CXv',  '2020-02-20 13:28:44', 'false', 'zdAqmw5bXL' , 'Sandra', 'Wiliams', 'ZhorvrUv@iitrpr.ac.in', 'false', 'true', '2020-02-27 13:23:25');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('7', 'P4LO9bL1hl',  '2020-01-31 14:49:14', 'false', 'VvuNypIEem' , 'Irene', 'Yung', 'rcEouERA@iitrpr.ac.in', 'false', 'true', '2020-02-23 10:26:17');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('8', 'vHBSS4g5G6',  '2020-01-02 09:17:51', 'false', 'aB1umpsFsU' , 'Jennifer', 'Billups', 'veeQtHHP@iitrpr.ac.in', 'false', 'true', '2020-02-04 05:15:22');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('9', 'pLLydh8YDG',  '2020-01-06 22:59:43', 'false', 'MkGPsikwrn' , 'Katherine', 'Harrington', 'cAxRmvZo@iitrpr.ac.in', 'false', 'true', '2020-01-16 00:42:27');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('10', 'rZfpBvG7dR',  '2020-01-23 07:18:15', 'false', 'bkdDx2eqlt' , 'Lana', 'Lewis', 'BNrMsRVS@iitrpr.ac.in', 'false', 'true', '2020-01-07 03:24:47');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('11', 'TrfybSL4u9',  '2020-02-11 22:31:13', 'false', 'GYPGKz6Bk8' , 'Robbie', 'Duffy', 'AvhdENcv@iitrpr.ac.in', 'false', 'true', '2020-02-28 13:16:30');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('12', 'w3LkjI12Tn',  '2020-02-02 22:27:47', 'false', 'AYQnEkZZIn' , 'Elois', 'Patterson', 'TAsWRqwx@iitrpr.ac.in', 'false', 'true', '2020-01-11 21:45:03');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('13', 'TeCjQ8LAYe',  '2020-02-08 02:18:33', 'false', '8Kom3Hdzlf' , 'William', 'Hayden', 'bVSMhfFE@iitrpr.ac.in', 'false', 'true', '2020-01-13 06:18:18');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('14', 'EB7LoYn19z',  '2020-01-24 14:15:06', 'false', 'pS9hlqS2ot' , 'Janice', 'Thompson', 'kTbfWaEW@iitrpr.ac.in', 'false', 'true', '2020-02-10 09:54:14');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('15', 'cH7CfY2iVF',  '2020-01-27 00:58:50', 'false', 'Lc3RU6krLk' , 'Lucy', 'Hill', 'UUSuzfaZ@iitrpr.ac.in', 'false', 'true', '2020-01-17 19:28:25');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('16', '9gx3gdqYvV',  '2020-01-05 03:56:32', 'false', 'JpSxPfJkTg' , 'Donna', 'Webb', 'UmHSkTXr@iitrpr.ac.in', 'false', 'true', '2020-02-28 08:54:53');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('17', 'DEjpTRvwL6',  '2020-01-26 19:28:15', 'false', 'aAQuTHT1tw' , 'Bernice', 'Jackson', 'CveWKEIE@iitrpr.ac.in', 'false', 'true', '2020-02-13 05:54:21');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('18', 'FOie8Z2hed',  '2020-01-07 08:38:12', 'false', 'AklrHg11VL' , 'Allison', 'Zins', 'NyqzZyUQ@iitrpr.ac.in', 'false', 'true', '2020-02-25 09:18:06');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('19', '7Gk2fopUvQ',  '2020-01-05 07:04:31', 'false', 'URM1rZxLee' , 'Andrea', 'Stark', 'fXMTWSWI@iitrpr.ac.in', 'false', 'true', '2020-01-16 23:35:42');INSERT INTO auth_user(id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('20', 'rudrjdrAIO',  '2020-02-02 03:59:42', 'false', 'c2T61xfwDk' , 'Richard', 'Sanders', 'VBkxzCTm@iitrpr.ac.in', 'false', 'true', '2020-02-14 15:16:42');INSERT INTO auth_user(password, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('wrIh3o5x1p', 'false', 'hod_cse' , 'Allison', 'Zins', 'NyqzZyUQ@iitrpr.ac.in', 'False', 'True', '2020-01-15 17:06:32');INSERT INTO auth_user(password, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('7T6xKZG8TG', 'false', 'hod_ee' , 'Lana', 'Lewis', 'BNrMsRVS@iitrpr.ac.in', 'False', 'True', '2020-02-06 07:51:19');INSERT INTO auth_user(password, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('zbOTbn9sMB', 'false', 'hod_me' , 'Donna', 'Webb', 'UmHSkTXr@iitrpr.ac.in', 'False', 'True', '2020-02-20 13:20:22');INSERT INTO auth_user(password, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('QOS7B0SZCU', 'false', 'dean_aa' , 'Russell', 'Dumais', 'IGEgsLap@iitrpr.ac.in', 'False', 'True', '2020-02-20 21:13:51');INSERT INTO auth_user(password, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) VALUES ('5MJpApUJOo', 'false', 'director' , 'Janice', 'Thompson', 'kTbfWaEW@iitrpr.ac.in', 'False', 'True', '2020-01-13 11:04:53');INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (1,'ME', 20, 0);INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (2,'CSE', 20, 0);INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (3,'CSE', 20, 2);INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (4,'CSE', 20, 0);INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (5,'EE', 20, 0);INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (6,'ME', 17, 0);INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (7,'CSE', 20, 0);INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (8,'EE', 10, 0);INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (9,'CSE', 10, 0);INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (10,'ME', 20, 1);INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (11,'CSE', 20, 0);INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (12,'CSE', 4, 0);INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (13,'ME', 20, 0);INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (14,'EE', 4, 3);INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (15,'ME', 9, 0);INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (16,'EE', 20, 1);INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (17,'ME', 20, 0);INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (18,'EE', 20, 1);INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (19,'ME', 20, 0);INSERT INTO main_Faculty("FacultyID", dept, leaves_remaining, permission_level) VALUES (20,'ME', 20, 0);INSERT INTO main_Active_Leave_Entries("FacultyID", "application_date", starting_date, num_leaves, curr_status, description) VALUES (11,'2020-02-20','2020-01-04',15,0,'rabbit jumps dirty foolishly.');INSERT INTO main_Active_Leave_Entries("FacultyID", "application_date", starting_date, num_leaves, curr_status, description) VALUES (2,'2020-02-23','2020-02-14',7,3,'puppy runs adorable crazily.');INSERT INTO main_Active_Leave_Entries("FacultyID", "application_date", starting_date, num_leaves, curr_status, description) VALUES (16,'2020-01-21','2020-02-21',9,2,'car hits clueless dutifully.');INSERT INTO main_Active_Leave_Entries("FacultyID", "application_date", starting_date, num_leaves, curr_status, description) VALUES (16,'2020-02-26','2020-01-03',10,1,'puppy runs adorable crazily.');INSERT INTO main_Active_Leave_Entries("FacultyID", "application_date", starting_date, num_leaves, curr_status, description) VALUES (11,'2020-02-16','2020-01-15',2,1,'rabbit jumps dirty foolishly.');INSERT INTO main_Active_Leave_Entries("FacultyID", "application_date", starting_date, num_leaves, curr_status, description) VALUES (7,'2020-01-25','2020-02-20',6,2,'girl drives odd merrily.');INSERT INTO main_Active_Leave_Entries("FacultyID", "application_date", starting_date, num_leaves, curr_status, description) VALUES (7,'2020-02-10','2020-01-06',17,4,'girl drives odd merrily.');INSERT INTO main_Active_Leave_Entries("FacultyID", "application_date", starting_date, num_leaves, curr_status, description) VALUES (17,'2020-01-09','2020-02-25',1,0,'car hits clueless dutifully.');INSERT INTO main_Active_Leave_Entries("FacultyID", "application_date", starting_date, num_leaves, curr_status, description) VALUES (6,'2020-01-23','2020-01-12',14,3,'monkey barfs stupid occasionally.');INSERT INTO main_Active_Leave_Entries("FacultyID", "application_date", starting_date, num_leaves, curr_status, description) VALUES (8,'2020-02-05','2020-02-26',9,4,'monkey barfs stupid occasionally.');INSERT INTO main_comments("EntryID", timecreated, body, "FromFacultyID") VALUES (3,'2020-01-17','rabbit jumps dirty foolishly.', 13);INSERT INTO main_comments("EntryID", timecreated, body, "FromFacultyID") VALUES (14,'2020-01-11','rabbit jumps dirty foolishly.', 13);INSERT INTO main_comments("EntryID", timecreated, body, "FromFacultyID") VALUES (7,'2020-03-01','girl drives odd merrily.', 1);INSERT INTO main_comments("EntryID", timecreated, body, "FromFacultyID") VALUES (4,'2020-01-01','car hits clueless dutifully.', 18);INSERT INTO main_comments("EntryID", timecreated, body, "FromFacultyID") VALUES (16,'2020-02-22','girl drives odd merrily.', 3);INSERT INTO main_comments("EntryID", timecreated, body, "FromFacultyID") VALUES (18,'2020-02-01','car hits clueless dutifully.', 19);INSERT INTO main_comments("EntryID", timecreated, body, "FromFacultyID") VALUES (20,'2020-02-16','girl drives odd merrily.', 11);INSERT INTO main_comments("EntryID", timecreated, body, "FromFacultyID") VALUES (4,'2020-01-06','car hits clueless dutifully.', 1);INSERT INTO main_comments("EntryID", timecreated, body, "FromFacultyID") VALUES (15,'2020-02-11','car hits clueless dutifully.', 20);INSERT INTO main_comments("EntryID", timecreated, body, "FromFacultyID") VALUES (17,'2020-01-12','puppy runs adorable crazily.', 17);